
/**
 * Style settings for the game itself
 */

/* allows the canvas to fill the screen */
html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#pauseOverlay {
	position: absolute;
	width: 100%;
	height: 100%;
	/* dark transparency */
	background-color: rgba(0, 0, 0, 0.5);
	/* send to front of page */
	z-index: 100;
}

#pauseMenu {
	position: absolute;
	left: 50%;
	top: 50%;
	/* use some CSS3 magic to center the menu on the screen */
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	text-align: center;
	color: white;
}

#debug {
	position: absolute;
	top: 50px;
	left: 0;
	font-family: "Courier New", monospace;
	color: white;
}

.key {
	text-align: right;
	font-weight: bold;
	padding-right: 4px;
}