
/**
 * Style settings for the game itself
 */

/* allows the canvas to fill the screen */
html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#pauseOverlay {
	position: absolute;
	width: 100%;
	height: 100%;
	/* dark transparency */
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 101;
}

#pauseMenu, #editMenu {
	position: absolute;
	left: 50%;
	top: 50%;
	/* use some CSS3 magic to center the menu on the screen */
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	text-align: center;
	color: white;
}

#editMenu {
	display: none; /* hidden at launch */
}

#graphicsMenuDropdown {
	text-align: left;
	cursor: pointer;
}

#graphicsMenu {
	display: none;
	position: relative;
	left: 20px;
	text-align: left;
}

#graphicsMenu input {
	position: relative;
	left: 8px;
}

#graphicsMenu button {
	background: transparent;
	border: 1px solid white;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
	padding: 3px 6px 3px 6px;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

#editMenu td {
	cursor: pointer;
}

#debug {
	position: absolute;
	top: 50px;
	left: 0;
	font-family: "Courier New", monospace;
	color: white;
}

.key {
	text-align: right;
	font-weight: bold;
	padding-right: 4px;
}

th {
	font-size: 140%;
	font-weight: bold;
}